body{ /* se da margin y padding 0 a
       body para que abarque toda la pág */
  margin: 0;
  padding: 0;
}

a{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a:hover{
  color: #ff00bb;
}

footer{
  background: #343247;
  height: 200px;
  text-align: center;
}

footer >span{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#first-section { /* formato al fondo tomado de una imagen */
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-weight: 200;
  height: 526px;
  width: 100%;
  padding: 45px 0 0 0;
}

#logo{ /* se le da tamaño y posicion usando float y margin*/
  height: 43px;
  float: left;
  width: 68px;
  margin: 0 0 0 92px;
}


#log-in-button{ /* dirige a la pág para logear con formato*/
  border: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 8px 15px;
}

#white-box{ /* se le da tamaño y color a la seccion incluida en
            "first-section" */
  background: #fff;
  color: #5d2a98;
  height:420px;
  width: 603px;
  float: left;
  margin-left: 762px;
  margin-top: 20px;
  text-align: center;
}

#info{ /* en este div se le da formato y posicionamiento
        en base al background */
  display: block;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  height: 400px;
  margin: 75px;
  text-align: left;
  width: 400px;
}

#info >h2{ /* se agrgo este margen para que tuviera
            el formato requerido */
  margin: 0;
}

#info >h6{
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

#phone{
  font-family: 'Montserrat', sans-serif;
  border-top: black;
  border-width: medium;
  font-size: 15px;
  margin-top: 30px;
  width: 450px;
}

#pink-button{
  background: #ff00bb;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  margin: 15px 0 0 0;
  padding: 14px 25px;
}

#pink-button:hover{
  cursor: pointer;
}

#sign{
  color: #949596;
  cursor: pointer;
  font-size: 15px;
  margin: 16px;
  text-decoration: underline;
}

#sign:hover{
  color: #ff00bb;
}

#second-section{ /* se da fondo degradante y formato*/
  background: linear-gradient(#76278F, #2B1E66);
  height: 565px;
  padding: 1px;
  width: 100%;
}

#info-container{ /* formato a la informacion dentro de esta seccion
                 con un float left para dar espacio a la imagen*/
  color: #fff;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: center;
}

#happy{
  margin: 0;
}

#second-section >img{ /*se incluye un float right para colocarlo
                      en esa posición*/
  float: right;
  height: 550px;
  width: 530px;
  margin: 6px 140px 0 0;
}

#third-section,#fourth-section,#fifth-section{ /* se da el mismo formato a esta tres secciones*/
  color:#000;
  font-family: 'Montserrat', sans-serif;
  height: 560px;
  margin: 0px;
  text-align: center;
}

.links{
  color: #ff00bb;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  text-decoration: none;
}

.links:hover{
  text-decoration: underline;
}

#sixth-section{ /* se le da estilo a esta seccion */
  background: #343247;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 200;
  height: 300px;
  text-align: center;
}

.right-button { /* estilo a los botones superiores derecho */
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400px;
  margin: 0px 79px 0px 0px;
}

.text{
  font-size: 15px;
  font-weight: 200;
  text-align: left;
  margin: 0 0 0 159px;
}

.tittles{
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 60px 0 0 0;
}

.more{
  font-size: 10px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: #949596;
  margin: 0;
}

.container-1{ /* se da float-left y right a los container, al texto y posicion */
  float: left;
  margin: 180px 0 0 60px;
  text-align: left;
}

.container-2{
  float: right;
  margin: 180px 70px 0 0;
  text-align: left;
}

.container-1 >p, .container-2 >p{
  width: 350px;
}

.learn-more{
  color: #ff00bb;
  font-size: 17px;
}

.watch{
  color: #000;
  font-size: 17px;
  margin: 0;
}

.tittles-2{ /* se usa el mismo formato para todos los titulos*/
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
}

.video{ /* se da posicion usando float */
  float:right;
  height: 550px;
  margin: 0px;
  width: 930px;
}

.video-2{
  float: left;
  height: 550px;
  margin: 0px;
  width: 930px;
}

.lines{ /* se da el mismo formato a todas las columnas*/
  display: inline-block;
  text-align: center;
  width: 200px;
  margin: 0 0 0 0;
}

.lines >h4{
  font-size: 20px;
  margin: 57px 0;
  text-align: left;
}

.extra >a{
  color:#fff;
  font-size: 15px;
  font-weight: 200px;
  display: block;
  margin: 27px 0 0 0;
  text-align: left;
}

.extra >a:hover{
  color:#ff00bb;
  text-decoration: underline;
}

.images{
  margin: 20px 0 0 0;
  width: 150px;
}

.icons{ /* se da posicionamiento color y el circulo que contiene a los iconos*/
  display: inline-block;
  border: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  text-align: center;
  margin: 25px;
  height: 40px;
  width: 40px;
}

.fa{ /* se posiciona los iconos*/
  margin: 8px;
}
